<!doctype html>
<html ng-app="HomePHR">
  <head>
      <meta charset="utf-8">
      <title>HomePHR</title>
      
      <link rel="stylesheet" href="assets/vendor/font-awesome-4.0.1/css/font-awesome.min.css">
      <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="assets/vendor/foundation/css/foundation.css">
      <link rel="stylesheet" href="assets/css/style.css">
      <!-- <link rel="stylesheet" href="assets/vendor/allmighty-autocomplete/style.css"> -->
      <link rel="stylesheet" href="assets/vendor/allmighty-autocomplete/autocomplete.css">
      <script>

          //Devtools for developers
          window.addEventListener('keydown', function (e) {
              if (e.keyIdentifier === 'F12') {
                   require('nw.gui').Window.get().showDevTools();
              }
          });
      </script>
     
      <script src="assets/vendor/jquery.js"/></script>
      <script src="assets/vendor/Notifications/nw-desktop-notifications.js"></script>
      <script src="assets/vendor/angular.js"></script>
      <script src="assets/vendor/nw-fileDialog.js"></script>
      <script src="assets/vendor/allmighty-autocomplete/autocomplete.js"></script>
      <script src="assets/vendor/angular-route.js"></script>
      <script src="assets/vendor/ui-bootstrap.js"></script>
      <script src="server.js"></script>
      <script src="HomePHR_main.js"></script>
      
      

  </head>
  <body>
  <div ng-controller="TitlebarCtrl" class="header">
    <div class="row">
     <div class="medium-6 columns">
      <span ng-repeat="array in items">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{menuNames[$index]}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="choice in array" />
            <a ng-click="this[choice.func](choice.text)">{{choice.text}}</a>
        </ul>
      </span>
      </div>
      <!-- 
      <div class="small-3 columns">
        <menu items="addItems" blarg="addmenu"/>
      </div> 
      -->
      <div class="small-2 columns" align="right">
        <a class="btn fa fa-minus" ng-click="minimize()"></a>
        <a class="btn btn-danger fa" ng-click="close()" id="title-bar-close-button">&#10006;</a>
      </div>
    </div>
  </div>
      <div class="line-separator"></div>
    <div id="wrap">
    <div ng-controller="AlertCtrl">
      <div class="row" id="AlertsRow">
        <div class="small-8 small-centered columns" align="center">
          <div ng-repeat="alert in alerts | filter: { canceled: 'no' }">
            <alert class="alert-box {{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          </div>
        </div>
      </div>
    </div>
    <div ng-controller="SearchCtrl">
      <div class="row" id="SearchRow">
        <div class="small-10 small-centered columns">
          <div class="row">
            <div class="small-2 columns"><label>Search:</label></div>
            <div class="small-10 columns"><input type="text" id="searchText" ng-model="searchText" ng-change="search()"></div>
         </div>
        </div>
      </div>
      <div ng-if="loggedout" class="jumbotron">
      <h2>
      Welcome to the HomePHR system, the personal health record managment software.
      <br/>
      Please login to continue.
      </h2>
      </div>
      <div class="row">
            <div class="row" ng-model="results" ng-repeat="item in results" class="row" ng-switch on="item.type">
          <!--     <div class="small-1 columns">
              {{ item.type }}
              </div> -->
              <div ng-switch-when="prescription" class="small-11 columns">
                <prescription item="item" condensed="true" />
              </div>
              <div ng-switch-when="doctor" class="small-11 columns">
                <doctor item="item"  condensed="true"/>
              </div>
              <div class="small-11 columns" ng-switch-when="appointment">
                  <appointment item="item" condensed="true"/>
              </div>
              <div class="small-11 columns" ng-switch-when="journal">
                <journal item="item" condensed="true"/>
              </div>
              <div class="small-11 columns" ng-switch-when="test">
                <test item="item" condensed="true"/>
              </div>
              <div class="small-11 columns" ng-switch-when="testresult">
                <testresult item="item" condensed="true"/>
              </div>
              <div class="small-1 columns">
              <button class="btn btn-primary fa fa-pencil" ng-click="edit(item)"></button>
              </div>
            </div>
            
      </div>
    </div> 
  <div id="push"></div>
  </div>
  <div id="footer">HomePHR - The personal health record system, Created by Eran Zimbler, 2014</div>
  <input type="file" nwsaveas="export.json" style="display:none;" id="fileDialog" />
  </body>
</html>