.float-right {
	float:right;
	margin:5px;
}
.float-left {
	float:left;
	margin:5px;
}
.header {
	height: 6%;
}
.align-left {
	 text-align: right;
	 right:auto;
	 padding-right: 0;
	 margin-right: 0;
}


.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}

html,body {
	height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 90%;
	height: auto !important;
	height: 90%;
	/* Negative indent footer by it's height */
	/* margin: 0 auto -30px; */
}

#push,#footer {
	height: auto !important;
	height: 5%;
	/* height: 30px;*/
}
#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

