<div ng-if="condensed">
	<div class="small-6 columns">
	<input type="text" class="input-small" value="{{item.name}}" ng-model="item.name"></input>
	</div>
	<div class="small-6 columns">
	<input type="text" class="input-small" value="{{item.address}}" ng-model="item.address"></input>	
	</div>
</div>
<div ng-if="!condensed">
<div class="row">
	<!-- <div class="small-3 columns"><input type="text" class="input-small" disabled="true" value="ID: {{item.ID}}" ng-model="item.id"></input></div> -->
	<div class="small-2 columns">
		Name:
	</div>
	<div class="small-8 columns">
		<input type="text" class="input-small" value="{{item.name}}" ng-model="item.name"></input>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Address:
	</div>
	<div class="small-8 columns">
		<input type="text" class="input-small" value="{{item.address}}" ng-model="item.address"></input>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Details:
	</div>
	<div class="small-10 columns">
		<textarea class="form-control" rows="3" value="{{item.details}}" ng-model="item.details"></textarea>
	</div>
</div>
</div>