<div ng-if="condensed">
	<div class="small-3 columns">
	<input value="{{item.date}}" ng-model="item.date" disabled="=true"></input>
	</div>
	<div class="small-8 columns">
	<input type="text" class="input-small" value="{{item.headline}}" ng-model="item.headline"></input>
	</div>
</div>
<div ng-if="!condensed">
	<input ng-hide="true" value="{{item.date}}" ng-model="item.date" disabled="=true"></input>
	<div class="row">
		<div class="small-2 columns">
			Headline:
		</div>
		<div class="small-10 columns">
			<input type="text" class="input-small" value="{{item.headline}}" ng-model="item.headline"></input>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			FreeText:
		</div>
		<div class="small-10 columns">
			<textarea class="form-control" rows="3" value="{{item.details}}" ng-model="item.details"></textarea>
		</div>
	</div>
</div>