<div class="modal-header">
    <h3>Login</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="small-12 columns"><span class="alert round label">{{message}}</span></div>
  </div>
  <div class="row">
    <div class="small-2 columns">Username:</div>
    <div class="small-3 columns"><input type="text" ng-model="username" placeholder="Enter a name here"></input></div>
    <div class="small-7 columns"></div>
  </div>
  <div class="row">
    <div class="small-2 columns">Password:</div>
    <div class="small-3 columns"><input type="password" class="input-small" value="{{user.password}}" ng-model="password"></input></div>
    <div class="small-7 columns"></div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(username,password)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>