<div class="modal-header">
    <h3 ng-if="item.type">Update {{ type }}</h3>
    <h3 ng-if="!item.type">Add {{ type }}</h3>
</div>
<div class="modal-body">
    <div class="row">
          <div class="row" class="row" ng-switch on="type">
            <div ng-switch-when="prescription" class="small-11 columns">
              <prescription item='item' condensed="false">
            </div>
            <div ng-switch-when="doctor" class="small-11 columns">
              <doctor item='item' condensed='false'/>
            </div>
            <div class="small-11 columns" ng-switch-when="appointment">
                <appointment item='item' condensed='false'/>
            </div>
            <div class="small-11 columns" ng-switch-when="journal">
                <journal item='item' condensed='false'>
            </div>
            <div class="small-11 columns" ng-switch-when="test">
              <test item="item" condensed='false'/>
            </div>
            <div class="small-11 columns" ng-switch-when="testresult">
              <testresult item="item" condensed='false'/>
            </div>
            <div class="small-11 columns" ng-switch-when="user">
              <user item="item" condensed='false'/>
            </div>
          </div>
          
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>