<div ng-if="condensed">
	<div class="small-3 columns">
		<input type="text" class="input-small" value="{{item.name}}" ng-model="item.name"></input>
	</div>
	<div class="small-3 columns">
		<input type="text" class="input-small" value="{{item.dose}}" ng-model="item.dose"></input>
	</div>
	<div class="small-3 columns">
		<input type="text" class="input-small" value="{{item.amount}}" ng-model="item.amount"></input>
	</div> 
	<div class="small-3 columns">
		<input type="text" class="input-small" value="{{item.startDate}}" ng-model="item.startDate"></input>
	</div>
</div>
<div ng-if="!condensed">
<div class="row"> 
	<div class="small-2 columns">
		Name:
	</div>
	<div class="small-10 columns">
		<autocomplete ng-model="item.name" attr-placeholder="type prescription name" click-activation="true" data="results" on-type="getResults" on-select="attachData"></autocomplete>
		<!-- <input type="text" class="input-small" value="{{item.name}}" ng-model="item.name"></input> -->
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Dose:
	</div>
	<div class="small-10 columns">
		<input type="text" class="input-small" value="{{item.dose}}" ng-model="item.dose"></input>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Amount:
	</div>
	<div class="small-10 columns">
		<input type="text" class="input-small" value="{{item.amount}}" ng-model="item.amount"></input>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Start Date:
	</div>
	<div class="small-10 columns">
		<input type="text" ng-model="item.startDate" datepicker-popup="shortDate" datepicker-options="dateOptions" />
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Other Details:
	</div>
	<div class="small-10 columns">
		<textarea class="form-control" rows="3" value="{{item.details}}" ng-model="item.details"></textarea>
	</div>
<div ng-if="item.link">
	<div class="small-10 columns">
		<a ng-click="clicklink(item.link)">go to {{item.link}}</a>
	</div>
</div>
</div>