<div class="modal-header">
    <h3>Settings</h3>
</div>
<div class="modal-body">
  <div class="row"></div>
  <div class="row">
    <div class="small-2 columns">PushBullet API Key:</div>
    <div class="small-5 columns"><input type="text" ng-model="settings.pushbulletkey" placeholder="Get your key from pushbullet.com"></input></div>
    <div class="small-5 columns"></div>
  </div>
  <div class="row">
    <div class="small-2 columns">Search Sensetivity:(lower is better)</div>
    <div class="small-10 columns">0.1<input type="range" ng-model="settings.sensetivity" step="1" min="1" max="10" value="5" >1.0</div>
  </div>
  <div class="row">
    <div class="small-2 columns">Case sensetive matching</div>
    <div class="small-3 columns"><input type="checkbox" ng-model="settings.caseInSensetive"/></div>
  </div>
  <div class="row">
    <div class="small-5 columns">Max Days for long time notification:</div>
    <div class="small-4 columns"><input type="text" ng-model="settings.regular" placeholder="7"></input></div>
  </div>
  <div class="row">
    <div class="small-5 columns">Max Days for medium time notification:</div>
    <div class="small-4 columns"><input type="text" ng-model="settings.important" placeholder="4"></input></div>
  </div>
  <div class="row">
    <div class="small-5 columns">Max Days for short time notification:</div>
    <div class="small-4 columns"><input type="text" ng-model="settings.critical" placeholder="1"></input></div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    you must restart the program for the changes to take affect
</div>