<div ng-if="condensed">
	<div class="small-3 columns">
	<input type="text" class="input-small" value="{{item.doctor}}" ng-model="item.doctor"></input>
	</div>
	<div class="small-3 columns">
	<input type="text" ng-model="item.date" value="{{item.date}}"/>
	</div>
	<div class="small-3 columns">
	<input type="text" ng-model="item.time" value="{{item.time}}"/>
	</div> 
	<div class="small-3 columns">
	<input type="text" class="input-small" value="{{item.testType}}" ng-model="item.testType"/>
	</div>
</div>
<div ng-if="!condensed">
<div class="row">
	<!-- <div class="small-3 columns"><input type="text" class="input-small" disabled="true" value="ID: {{item.ID}}" ng-model="item.id"></input></div> -->
	<div class="small-2 columns">
		Doctor:
	</div>
	<div class="small-10 columns">
		<input type="text" class="input-small" value="{{item.doctor}}" ng-model="item.doctor"></input>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Date:
	</div>
	<div class="small-10 columns">
		<input type="text" ng-model="item.date" datepicker-popup="shortDate" datepicker-options="dateOptions" />
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Time:
	</div>
	<div class="small-10 columns" ng-model="item.time">
		<timepicker show-meridian="false"/>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Test Type:
	</div>
	<div class="small-10 columns">
		<input type="text" class="input-small" value="{{item.testType}}" ng-model="item.testType"></input>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		Details:
	</div>
	<div class="small-10 columns">
		<textarea class="form-control" rows="3" value="{{item.details}}" ng-model="item.details"></textarea>
	</div>
</div>
</div>