<div ng-if="condensed">
</div>
<div ng-if="!condensed">
	<div class="row">
		<div class="small-2 columns">
			username:
		</div>
		<div class="small-10 columns">
			<input type="text" class="input-small" value="{{item.username}}" ng-model="item.username"></input>
		</div>
	</div>
	<div class="row">
		<div class="small-2 columns">
			Password:
		</div>
		<div class="small-10 columns">
			<input type="password" class="input-small" value="{{item.password}}" ng-model="item.password"></input>
		</div>
	</div>
</div>